# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [2]:
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [55]:
orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.csv").drop(columns = 'Unnamed: 0').astype({'InvoiceNo': 'object', 'CustomerID': 'object'})
orders.head()

,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [129]:
orders['Total Spent'] = orders['amount_spent'].groupby(orders['CustomerID']).transform('sum')

bins = [orders['Total Spent'].unique().min(), np.quantile(orders['Total Spent'].unique(), .80), np.quantile(orders['Total Spent'].unique(), .95), orders['Total Spent'].unique().max()]
labels = ['Regular', 'Preferred', 'VIP']

orders['Status'] = pd.cut(orders['Total Spent'], bins, labels = labels)

orders.head()

,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,Total Spent,Status
0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,5391.21,Preferred
1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21,Preferred
2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,5391.21,Preferred
3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21,Preferred
4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21,Preferred

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

Provide your solution for Q2 below:

In [164]:
orders_vip = orders[orders['Status'] == 'VIP'].drop_duplicates(subset = ['CustomerID', 'Country'])['Country'].value_counts()
orders_vip

United Kingdom     175
Germany             10
France               9
Switzerland          3
Spain                2
EIRE                 2
Portugal             2
Australia            2
Japan                2
Netherlands          1
Denmark              1
Norway               1
Singapore            1
Sweden               1
Cyprus               1
Finland              1
Belgium              1
Channel Islands      1
Name: Country, dtype: int64

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q3 below:

In [155]:
orders_vippref = orders[(orders['Status'] == 'VIP') | (orders['Status'] == 'Preferred')].drop_duplicates(subset = ['CustomerID', 'Country'])['Country'].value_counts()
orders_vippref

United Kingdom     727
Germany             33
France              27
Belgium              9
Spain                9
Switzerland          8
Norway               6
Portugal             6
Italy                4
Cyprus               4
Japan                4
Austria              3
Denmark              3
Finland              3
EIRE                 3
Australia            3
Sweden               2
Israel               2
Channel Islands      2
Canada               1
Iceland              1
Greece               1
Netherlands          1
Poland               1
Singapore            1
Name: Country, dtype: int64