In [80]:
import pandas as pd

data = pd.read_csv('/Users/rbarr/Desktop/Ironhack/datamia0819/module-1/vehicles/vehicles/vehicles_messy.csv')

data

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
5,14.982273,0.0,0.0,0.0,21,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
6,13.184400,0.0,0.0,0.0,22,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
7,13.733750,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
8,12.677308,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
9,13.184400,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
10,12.677308,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
11,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
12,13.733750,0.0,0.0,0.0,21,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
13,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
14,25.354615,0.0,0.0,0.0,12,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
15,14.330870,0.0,0.0,0.0,20,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
16,16.480500,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
17,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
18,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
19,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
20,20.600625,0.0,0.0,0.0,14,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
21,20.600625,0.0,0.0,0.0,14,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
22,25.354615,0.0,0.0,0.0,11,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
23,14.330870,0.0,0.0,0.0,21,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
24,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
25,25.354615,0.0,0.0,0.0,11,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
26,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
27,16.480500,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
28,16.480500,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
29,16.480500,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37813,12.677308,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37814,14.330870,0.0,0.0,0.0,21,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37815,13.184400,0.0,0.0,0.0,22,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37816,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37817,16.480500,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37818,14.982273,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37819,14.330870,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37820,13.733750,0.0,0.0,0.0,21,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37821,21.974000,0.0,0.0,0.0,14,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37822,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37823,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37824,13.184400,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37825,11.771786,0.0,0.0,0.0,24,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37826,10.987000,0.0,0.0,0.0,26,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37827,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37828,18.311667,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37829,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37830,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37831,18.311667,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37832,27.467500,0.0,0.0,0.0,11,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37833,16.480500,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37834,12.677308,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37835,13.733750,0.0,0.0,0.0,21,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37836,11.771786,0.0,0.0,0.0,24,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37837,13.184400,0.0,0.0,0.0,21,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37838,14.982273,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37839,14.330870,0.0,0.0,0.0,20,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37840,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37841,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37842,18.311667,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [6]:
data.describe()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
count,37843.000000,37843.000000,37843.0,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,...,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000
mean,17.532506,0.216169,0.0,0.023531,17.941389,4.042737,0.520149,0.327163,0.000406,0.184790,...,22.587229,0.652380,33.619221,0.933845,2000.064398,-2658.999022,0.004360,0.069313,0.068203,0.068573
std,4.575950,1.141527,0.0,0.427647,6.660360,9.645820,3.837874,3.542596,0.039918,2.904558,...,9.350163,5.284547,10.048326,6.059456,10.390588,2553.098329,0.142776,1.966806,1.871986,1.913647
min,0.060000,0.000000,0.0,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1984.000000,-22250.000000,0.000000,0.000000,0.000000,0.000000
25%,14.330870,0.000000,0.0,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,18.000000,0.000000,27.100000,0.000000,1990.000000,-4250.000000,0.000000,0.000000,0.000000,0.000000
50%,17.347895,0.000000,0.0,0.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,21.000000,0.000000,33.000000,0.000000,2001.000000,-2500.000000,0.000000,0.000000,0.000000,0.000000
75%,20.600625,0.000000,0.0,0.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,25.139300,0.000000,38.109600,0.000000,2009.000000,-750.000000,0.000000,0.000000,0.000000,0.000000
max,47.087143,18.311667,0.0,12.000000,138.000000,138.304000,127.000000,127.093000,5.350000,122.000000,...,197.577100,181.560900,159.100000,152.187800,2017.000000,4000.000000,7.000000,97.000000,79.000000,88.000000

In [8]:
data.dtypes

barrels08          float64
barrelsA08         float64
charge120          float64
charge240          float64
city08               int64
city08U            float64
cityA08              int64
cityA08U           float64
cityCD             float64
cityE              float64
cityUF             float64
co2                  int64
co2A                 int64
co2TailpipeAGpm    float64
co2TailpipeGpm     float64
comb08               int64
comb08U            float64
combA08              int64
combA08U           float64
combE              float64
combinedCD         float64
combinedUF         float64
cylinders          float64
displ              float64
drive               object
engId                int64
eng_dscr            object
feScore              int64
fuelCost08           int64
fuelCostA08          int64
                    ...
rangeCity          float64
rangeCityA         float64
rangeHwy           float64
rangeHwyA          float64
trany               object
UCity              float64
UCityA             float64
UHighway           float64
UHighwayA          float64
VClass              object
year                 int64
youSaveSpend         int64
guzzler             object
trans_dscr          object
tCharger            object
sCharger            object
atvType             object
fuelType2           object
rangeA              object
evMotor             object
mfrCode             object
c240Dscr            object
charge240b         float64
c240bDscr           object
createdOn           object
modifiedOn          object
startStop           object
phevCity             int64
phevHwy              int64
phevComb             int64
Length: 83, dtype: object

In [11]:
data.dtypes.value_counts()

float64    32
int64      27
object     23
bool        1
dtype: int64

In [9]:
data.size

3140969

In [10]:
data.shape

(37843, 83)

In [13]:
data[['fuelType']].head(4)

  fuelType
0  Regular
1  Regular
2  Regular
3  Regular

In [15]:
data.isnull().head(3)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False

In [16]:
data.isnull().sum()

barrels08              0
barrelsA08             0
charge120              0
charge240              0
city08                 0
city08U                0
cityA08                0
cityA08U               0
cityCD                 0
cityE                  0
cityUF                 0
co2                    0
co2A                   0
co2TailpipeAGpm        0
co2TailpipeGpm         0
comb08                 0
comb08U                0
combA08                0
combA08U               0
combE                  0
combinedCD             0
combinedUF             0
cylinders            123
displ                120
drive               1189
engId                  0
eng_dscr           15403
feScore                0
fuelCost08             0
fuelCostA08            0
                   ...
rangeCity              0
rangeCityA             0
rangeHwy               0
rangeHwyA              0
trany                 11
UCity                  0
UCityA                 0
UHighway               0
UHighwayA              0
VClass                 0
year                   0
youSaveSpend           0
guzzler            35562
trans_dscr         22796
tCharger           32657
sCharger           37177
atvType            34771
fuelType2          36435
rangeA             36440
evMotor            37281
mfrCode            30818
c240Dscr           37806
charge240b             0
c240bDscr          37807
createdOn              0
modifiedOn             0
startStop          31705
phevCity               0
phevHwy                0
phevComb               0
Length: 83, dtype: int64

In [20]:
null_cols = data.isnull().sum()
null_cols

barrels08              0
barrelsA08             0
charge120              0
charge240              0
city08                 0
city08U                0
cityA08                0
cityA08U               0
cityCD                 0
cityE                  0
cityUF                 0
co2                    0
co2A                   0
co2TailpipeAGpm        0
co2TailpipeGpm         0
comb08                 0
comb08U                0
combA08                0
combA08U               0
combE                  0
combinedCD             0
combinedUF             0
cylinders            123
displ                120
drive               1189
engId                  0
eng_dscr           15403
feScore                0
fuelCost08             0
fuelCostA08            0
                   ...
rangeCity              0
rangeCityA             0
rangeHwy               0
rangeHwyA              0
trany                 11
UCity                  0
UCityA                 0
UHighway               0
UHighwayA              0
VClass                 0
year                   0
youSaveSpend           0
guzzler            35562
trans_dscr         22796
tCharger           32657
sCharger           37177
atvType            34771
fuelType2          36435
rangeA             36440
evMotor            37281
mfrCode            30818
c240Dscr           37806
charge240b             0
c240bDscr          37807
createdOn              0
modifiedOn             0
startStop          31705
phevCity               0
phevHwy                0
phevComb               0
Length: 83, dtype: int64

In [26]:
null_cols[null_cols > 0]

cylinders       123
displ           120
drive          1189
eng_dscr      15403
trany            11
guzzler       35562
trans_dscr    22796
tCharger      32657
sCharger      37177
atvType       34771
fuelType2     36435
rangeA        36440
evMotor       37281
mfrCode       30818
c240Dscr      37806
c240bDscr     37807
startStop     31705
dtype: int64

In [27]:
null_cols[null_cols > 0].size

17

In [33]:
drop_cols = list(null_cols[null_cols > 10000].index)
drop_cols

['eng_dscr',
 'guzzler',
 'trans_dscr',
 'tCharger',
 'sCharger',
 'atvType',
 'fuelType2',
 'rangeA',
 'evMotor',
 'mfrCode',
 'c240Dscr',
 'c240bDscr',
 'startStop']

In [36]:
data = data.drop(drop_cols, axis = 1)
data

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UHighwayA,VClass,year,youSaveSpend,charge240b,createdOn,modifiedOn,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,0.0,Two Seaters,1985,-1250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,0.0,Two Seaters,1985,-8500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,0.0,Subcompact Cars,1985,500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,0.0,Vans,1985,-8500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-4000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
5,14.982273,0.0,0.0,0.0,21,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-750,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
6,13.184400,0.0,0.0,0.0,22,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,0,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
7,13.733750,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
8,12.677308,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
9,13.184400,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,0,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
10,12.677308,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
11,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-1250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
12,13.733750,0.0,0.0,0.0,21,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
13,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-1250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
14,25.354615,0.0,0.0,0.0,12,0.0,0,0.0,0.0,0.0,...,0.0,Vans,1985,-6000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
15,14.330870,0.0,0.0,0.0,20,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
16,16.480500,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-1500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
17,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-1250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
18,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,0.0,Midsize Cars,1993,-4000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
19,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,0.0,Midsize Cars,1993,-4000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
20,20.600625,0.0,0.0,0.0,14,0.0,0,0.0,0.0,0.0,...,0.0,Midsize Cars,1993,-6000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
21,20.600625,0.0,0.0,0.0,14,0.0,0,0.0,0.0,0.0,...,0.0,Midsize Cars,1993,-6000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
22,25.354615,0.0,0.0,0.0,11,0.0,0,0.0,0.0,0.0,...,0.0,Midsize Cars,1993,-6000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
23,14.330870,0.0,0.0,0.0,21,0.0,0,0.0,0.0,0.0,...,0.0,Midsize Cars,1993,-500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
24,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,0.0,Midsize Cars,1993,-2000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
25,25.354615,0.0,0.0,0.0,11,0.0,0,0.0,0.0,0.0,...,0.0,Vans,1985,-6000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
26,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,0.0,Midsize Cars,1993,-1250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
27,16.480500,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,0.0,Midsize Cars,1993,-1500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
28,16.480500,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,0.0,Midsize Cars,1993,-1500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
29,16.480500,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,0.0,Midsize Cars,1993,-1500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37813,12.677308,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37814,14.330870,0.0,0.0,0.0,21,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37815,13.184400,0.0,0.0,0.0,22,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,0,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37816,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-1250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37817,16.480500,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-1500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37818,14.982273,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-750,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37819,14.330870,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37820,13.733750,0.0,0.0,0.0,21,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37821,21.974000,0.0,0.0,0.0,14,0.0,0,0.0,0.0,0.0,...,0.0,Vans,1985,-4250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37822,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-3000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37823,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-1250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37824,13.184400,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,0,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37825,11.771786,0.0,0.0,0.0,24,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,750,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37826,10.987000,0.0,0.0,0.0,26,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,1250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37827,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-11750,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37828,18.311667,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-2500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37829,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-1250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37830,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-3000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37831,18.311667,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-2500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37832,27.467500,0.0,0.0,0.0,11,0.0,0,0.0,0.0,0.0,...,0.0,Vans,1985,-7250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37833,16.480500,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-1500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37834,12.677308,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37835,13.733750,0.0,0.0,0.0,21,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37836,11.771786,0.0,0.0,0.0,24,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,750,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37837,13.184400,0.0,0.0,0.0,21,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,0,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37838,14.982273,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-750,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37839,14.330870,0.0,0.0,0.0,20,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37840,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-1250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37841,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-1250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37842,18.311667,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-4500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0

In [37]:
null_cols = data.isnull().sum()
null_cols

barrels08             0
barrelsA08            0
charge120             0
charge240             0
city08                0
city08U               0
cityA08               0
cityA08U              0
cityCD                0
cityE                 0
cityUF                0
co2                   0
co2A                  0
co2TailpipeAGpm       0
co2TailpipeGpm        0
comb08                0
comb08U               0
combA08               0
combA08U              0
combE                 0
combinedCD            0
combinedUF            0
cylinders           123
displ               120
drive              1189
engId                 0
feScore               0
fuelCost08            0
fuelCostA08           0
fuelType              0
                   ...
hlv                   0
hpv                   0
id                    0
lv2                   0
lv4                   0
make                  0
model                 0
mpgData               0
phevBlended           0
pv2                   0
pv4                   0
range                 0
rangeCity             0
rangeCityA            0
rangeHwy              0
rangeHwyA             0
trany                11
UCity                 0
UCityA                0
UHighway              0
UHighwayA             0
VClass                0
year                  0
youSaveSpend          0
charge240b            0
createdOn             0
modifiedOn            0
phevCity              0
phevHwy               0
phevComb              0
Length: 70, dtype: int64

In [38]:
null_cols[null_cols > 0]

cylinders     123
displ         120
drive        1189
trany          11
dtype: int64

In [47]:
null_displ = data[(data['displ'].isnull() == True)]
null_displ.head(4)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UHighwayA,VClass,year,youSaveSpend,charge240b,createdOn,modifiedOn,phevCity,phevHwy,phevComb
7138,0.240,0.0,0.0,0.0,81,0.0,0,0.0,0.0,41.0,...,0.0,Midsize Station Wagons,2000,2750,0.0,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
7139,0.282,0.0,0.0,0.0,81,0.0,0,0.0,0.0,41.0,...,0.0,Sport Utility Vehicle - 2WD,2000,2250,0.0,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
8143,0.282,0.0,0.0,0.0,81,0.0,0,0.0,0.0,41.0,...,0.0,Sport Utility Vehicle - 2WD,2001,2250,0.0,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
8144,0.312,0.0,0.0,0.0,74,0.0,0,0.0,0.0,46.0,...,0.0,Two Seaters,2001,1750,0.0,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0

In [48]:
data[(data['cylinders'] == 4)].head(4)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UHighwayA,VClass,year,youSaveSpend,charge240b,createdOn,modifiedOn,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,0.0,Two Seaters,1985,-1250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,0.0,Subcompact Cars,1985,500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-4000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
5,14.982273,0.0,0.0,0.0,21,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-750,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0

In [43]:
data['cylinders'].value_counts()

4.0     14486
6.0     13184
8.0      8293
5.0       766
12.0      569
3.0       207
10.0      153
2.0        54
16.0        8
Name: cylinders, dtype: int64

In [49]:
extract = ['year', 'make', 'model', 'trany', 'drive','fuelType','cylinders', 'displ']
null_displ = null_displ[extract]
null_displ.head(4)

,year,make,model,trany,drive,fuelType,cylinders,displ
7138,2000,Nissan,Altra EV,NaN,NaN,Electricity,NaN,NaN
7139,2000,Toyota,RAV4 EV,NaN,2-Wheel Drive,Electricity,NaN,NaN
8143,2001,Toyota,RAV4 EV,NaN,2-Wheel Drive,Electricity,NaN,NaN
8144,2001,Ford,Th!nk,NaN,NaN,Electricity,NaN,NaN

In [50]:
data.iloc[0]

barrels08                               15.6957
barrelsA08                                    0
charge120                                     0
charge240                                     0
city08                                       19
city08U                                       0
cityA08                                       0
cityA08U                                      0
cityCD                                        0
cityE                                         0
cityUF                                        0
co2                                          -1
co2A                                         -1
co2TailpipeAGpm                               0
co2TailpipeGpm                           423.19
comb08                                       21
comb08U                                       0
combA08                                       0
combA08U                                      0
combE                                         0
combinedCD                                    0
combinedUF                                    0
cylinders                                     4
displ                                         2
drive                          Rear-Wheel Drive
engId                                      9011
feScore                                      -1
fuelCost08                                 1600
fuelCostA08                                   0
fuelType                                Regular
                               ...
hlv                                           0
hpv                                           0
id                                            1
lv2                                           0
lv4                                           0
make                                 Alfa Romeo
model                        Spider Veloce 2000
mpgData                                       Y
phevBlended                               False
pv2                                           0
pv4                                           0
range                                         0
rangeCity                                     0
rangeCityA                                    0
rangeHwy                                      0
rangeHwyA                                     0
trany                              Manual 5-spd
UCity                                   23.3333
UCityA                                        0
UHighway                                     35
UHighwayA                                     0
VClass                              Two Seaters
year                                       1985
youSaveSpend                              -1250
charge240b                                    0
createdOn          Tue Jan 01 00:00:00 EST 2013
modifiedOn         Tue Jan 01 00:00:00 EST 2013
phevCity                                      0
phevHwy                                       0
phevComb                                      0
Name: 0, Length: 70, dtype: object

In [51]:
data.iloc[0][0]

15.695714285714288

In [53]:
data.loc[data['cylinders']==2].head(4)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UHighwayA,VClass,year,youSaveSpend,charge240b,createdOn,modifiedOn,phevCity,phevHwy,phevComb
714,18.311667,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,0.0,Two Seaters,1994,-4500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
715,18.311667,0.0,0.0,0.0,15,0.0,0,0.0,0.0,0.0,...,0.0,Two Seaters,1994,-4500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
1785,18.311667,0.0,0.0,0.0,15,0.0,0,0.0,0.0,0.0,...,0.0,Two Seaters,1995,-4500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
1786,18.311667,0.0,0.0,0.0,15,0.0,0,0.0,0.0,0.0,...,0.0,Two Seaters,1995,-4500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0

In [54]:
x = (data['cylinders'] == 0) & (data['displ'] != 0)
x.value_counts()

False    37843
dtype: int64

In [55]:
data['cylinders'].value_counts()

4.0     14486
6.0     13184
8.0      8293
5.0       766
12.0      569
3.0       207
10.0      153
2.0        54
16.0        8
Name: cylinders, dtype: int64

In [59]:
data.loc[(data['cylinders'] == 0) & (data['displ'] != 0), 'cylinders'] = 4

In [60]:
import numpy as np
low_variance = []

for col in data._get_numeric_data(): 
    minimum = min(data[col])
    ninety_perc = np.percentile(data[col], 90)
    if ninety_perc == minimum:
        low_variance.append(col)

print(low_variance, '\n')
print(minimum)

['barrelsA08', 'charge120', 'charge240', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2A', 'co2TailpipeAGpm', 'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'fuelCostA08', 'ghgScoreA', 'highwayA08', 'highwayA08U', 'highwayCD', 'highwayE', 'highwayUF', 'phevBlended', 'range', 'rangeCity', 'rangeCityA', 'rangeHwy', 'rangeHwyA', 'UCityA', 'UHighwayA', 'charge240b', 'phevCity', 'phevHwy', 'phevComb']

0

In [61]:
data['barrels08'].min()

0.06000000000000001

In [62]:
data.describe()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
count,37843.000000,37843.000000,37843.0,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,...,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000
mean,17.532506,0.216169,0.0,0.023531,17.941389,4.042737,0.520149,0.327163,0.000406,0.184790,...,22.587229,0.652380,33.619221,0.933845,2000.064398,-2658.999022,0.004360,0.069313,0.068203,0.068573
std,4.575950,1.141527,0.0,0.427647,6.660360,9.645820,3.837874,3.542596,0.039918,2.904558,...,9.350163,5.284547,10.048326,6.059456,10.390588,2553.098329,0.142776,1.966806,1.871986,1.913647
min,0.060000,0.000000,0.0,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1984.000000,-22250.000000,0.000000,0.000000,0.000000,0.000000
25%,14.330870,0.000000,0.0,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,18.000000,0.000000,27.100000,0.000000,1990.000000,-4250.000000,0.000000,0.000000,0.000000,0.000000
50%,17.347895,0.000000,0.0,0.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,21.000000,0.000000,33.000000,0.000000,2001.000000,-2500.000000,0.000000,0.000000,0.000000,0.000000
75%,20.600625,0.000000,0.0,0.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,25.139300,0.000000,38.109600,0.000000,2009.000000,-750.000000,0.000000,0.000000,0.000000,0.000000
max,47.087143,18.311667,0.0,12.000000,138.000000,138.304000,127.000000,127.093000,5.350000,122.000000,...,197.577100,181.560900,159.100000,152.187800,2017.000000,4000.000000,7.000000,97.000000,79.000000,88.000000

In [63]:
stats = data.describe().transpose()
stats.head(4)

,count,mean,std,min,25%,50%,75%,max
barrels08,37843.0,17.532506,4.575950,0.06,14.33087,17.347895,20.600625,47.087143
barrelsA08,37843.0,0.216169,1.141527,0.00,0.00000,0.000000,0.000000,18.311667
charge120,37843.0,0.000000,0.000000,0.00,0.00000,0.000000,0.000000,0.000000
charge240,37843.0,0.023531,0.427647,0.00,0.00000,0.000000,0.000000,12.000000

In [65]:
stats['IQR'] = stats['75%'] - stats['25%']
stats.head(4)

,count,mean,std,min,25%,50%,75%,max,IQR
barrels08,37843.0,17.532506,4.575950,0.06,14.33087,17.347895,20.600625,47.087143,6.269755
barrelsA08,37843.0,0.216169,1.141527,0.00,0.00000,0.000000,0.000000,18.311667,0.000000
charge120,37843.0,0.000000,0.000000,0.00,0.00000,0.000000,0.000000,0.000000,0.000000
charge240,37843.0,0.023531,0.427647,0.00,0.00000,0.000000,0.000000,12.000000,0.000000

In [79]:
data1 = data.copy()
data['year'] = data['year'].astype('object')
data['year'].dtype

dtype('O')

In [67]:
data.dtypes

barrels08          float64
barrelsA08         float64
charge120          float64
charge240          float64
city08               int64
city08U            float64
cityA08              int64
cityA08U           float64
cityCD             float64
cityE              float64
cityUF             float64
co2                  int64
co2A                 int64
co2TailpipeAGpm    float64
co2TailpipeGpm     float64
comb08               int64
comb08U            float64
combA08              int64
combA08U           float64
combE              float64
combinedCD         float64
combinedUF         float64
cylinders          float64
displ              float64
drive               object
engId                int64
feScore              int64
fuelCost08           int64
fuelCostA08          int64
fuelType            object
                    ...
hlv                  int64
hpv                  int64
id                   int64
lv2                  int64
lv4                  int64
make                object
model               object
mpgData             object
phevBlended           bool
pv2                  int64
pv4                  int64
range                int64
rangeCity          float64
rangeCityA         float64
rangeHwy           float64
rangeHwyA          float64
trany               object
UCity              float64
UCityA             float64
UHighway           float64
UHighwayA          float64
VClass              object
year                 int64
youSaveSpend         int64
charge240b         float64
createdOn           object
modifiedOn          object
phevCity             int64
phevHwy              int64
phevComb             int64
Length: 70, dtype: object

In [68]:
set(data['trany'])

{'Auto (AV)',
 'Auto (AV-S6)',
 'Auto (AV-S8)',
 'Auto(A1)',
 'Auto(AM-S6)',
 'Auto(AM-S7)',
 'Auto(AM-S8)',
 'Auto(AM-S9)',
 'Auto(AM5)',
 'Auto(AM6)',
 'Auto(AM7)',
 'Auto(AM8)',
 'Auto(AV-S6)',
 'Auto(AV-S7)',
 'Auto(AV-S8)',
 'Auto(L3)',
 'Auto(L4)',
 'Automatic (A1)',
 'Automatic (A6)',
 'Automatic (AM5)',
 'Automatic (AM6)',
 'Automatic (AV)',
 'Automatic (AV-S6)',
 'Automatic (S4)',
 'Automatic (S5)',
 'Automatic (S6)',
 'Automatic (S7)',
 'Automatic (S8)',
 'Automatic (S9)',
 'Automatic (variable gear ratios)',
 'Automatic 3-spd',
 'Automatic 4-spd',
 'Automatic 5-spd',
 'Automatic 6-spd',
 'Automatic 6spd',
 'Automatic 7-spd',
 'Automatic 8-spd',
 'Automatic 9-spd',
 'Manual 3-spd',
 'Manual 4-spd',
 'Manual 4-spd Doubled',
 'Manual 5 spd',
 'Manual 5-spd',
 'Manual 6-spd',
 'Manual 7-spd',
 'Manual(M7)',
 nan}

In [81]:
data['trany'] = data['trany'].str.replace('-', '')
set(data['trany'])

{'Auto (AV)',
 'Auto (AVS6)',
 'Auto (AVS8)',
 'Auto(A1)',
 'Auto(AM5)',
 'Auto(AM6)',
 'Auto(AM7)',
 'Auto(AM8)',
 'Auto(AMS6)',
 'Auto(AMS7)',
 'Auto(AMS8)',
 'Auto(AMS9)',
 'Auto(AVS6)',
 'Auto(AVS7)',
 'Auto(AVS8)',
 'Auto(L3)',
 'Auto(L4)',
 'Automatic (A1)',
 'Automatic (A6)',
 'Automatic (AM5)',
 'Automatic (AM6)',
 'Automatic (AV)',
 'Automatic (AVS6)',
 'Automatic (S4)',
 'Automatic (S5)',
 'Automatic (S6)',
 'Automatic (S7)',
 'Automatic (S8)',
 'Automatic (S9)',
 'Automatic (variable gear ratios)',
 'Automatic 3spd',
 'Automatic 4spd',
 'Automatic 5spd',
 'Automatic 6spd',
 'Automatic 7spd',
 'Automatic 8spd',
 'Automatic 9spd',
 'Manual 3spd',
 'Manual 4spd',
 'Manual 4spd Doubled',
 'Manual 5 spd',
 'Manual 5spd',
 'Manual 6spd',
 'Manual 7spd',
 'Manual(M7)',
 nan}

In [82]:
data['trany'] = data['trany'].str.replace('Automatic', 'Auto')
data['trany'] = data['trany'].str.replace('Auto\(', 'Auto ')
data['trany'] = data['trany'].str.replace('Manual\(', 'Manual ')
data['trany'] = data['trany'].str.replace('\(', '')
data['trany'] = data['trany'].str.replace('\)', '')
set(data['trany'])

{'Auto 3spd',
 'Auto 4spd',
 'Auto 5spd',
 'Auto 6spd',
 'Auto 7spd',
 'Auto 8spd',
 'Auto 9spd',
 'Auto A1',
 'Auto A6',
 'Auto AM5',
 'Auto AM6',
 'Auto AM7',
 'Auto AM8',
 'Auto AMS6',
 'Auto AMS7',
 'Auto AMS8',
 'Auto AMS9',
 'Auto AV',
 'Auto AVS6',
 'Auto AVS7',
 'Auto AVS8',
 'Auto L3',
 'Auto L4',
 'Auto S4',
 'Auto S5',
 'Auto S6',
 'Auto S7',
 'Auto S8',
 'Auto S9',
 'Auto variable gear ratios',
 'Manual 3spd',
 'Manual 4spd',
 'Manual 4spd Doubled',
 'Manual 5 spd',
 'Manual 5spd',
 'Manual 6spd',
 'Manual 7spd',
 'Manual M7',
 nan}

In [84]:
data['trany'] = data['trany'].fillna('0')
data.loc[data['trany'].str.contains('Auto')] = 'Automatic'
data.loc[data['trany'].str.contains('Manual')] = 'Manual'
set(data['trany'])

{'0', 'Automatic', 'Manual'}

In [73]:
def change(x):
    x = x.lower()
    if 'auto' in x.split():
        x = 'Automatic'
    elif 'manual' in x.split():
        x = 'Manual'
    return(x)    
x = list(map(change, data['trany']))     
x

AttributeError: 'float' object has no attribute 'lower'

In [74]:
before = len(data)
data = data.drop_duplicates()
after = len(data)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  0

In [75]:
select_columns = ['make', 'model', 'year', 'displ', 'cylinders', 
                  'trany', 'drive', 'VClass','fuelType','barrels08', 
                  'city08', 'highway08', 'comb08', 'co2TailpipeGpm', 'fuelCost08']

data = data[select_columns].drop_duplicates()
after = len(data)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  885

In [85]:
import pandas as pd

data = pd.read_csv('/Users/rbarr/Desktop/Ironhack/datamia0819/module-1/vehicles/vehicles/vehicles.csv')
data.head(4)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

In [86]:
data.columns = ['Manufacturer','Model','Year','Displacement',
                'Cylinders','Transmission','Drivetrain',
                'Vehicle Class','Fuel Type','Fuel Barrels/Year',
                'City MPG','Highway MPG','Combined MPG',
                'CO2 Emission Grams/Mile','Fuel Cost/Year']

data.columns

Index(['Manufacturer', 'Model', 'Year', 'Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [87]:
data = data.rename(columns={'Manufacturer':'Make',
                            'Displacement':'Engine Displacement'})

data.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [88]:
column_order = ['Year','Make','Model','Vehicle Class',
                'Transmission','Drivetrain','Fuel Type',
                'Cylinders','Engine Displacement','Fuel Barrels/Year',
                'City MPG','Highway MPG','Combined MPG',
                'CO2 Emission Grams/Mile','Fuel Cost/Year']

data = data[column_order]
data.head(4)

,Year,Make,Model,Vehicle Class,Transmission,Drivetrain,Fuel Type,Cylinders,Engine Displacement,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,4.0,2.5,19.388824,18,17,17,522.764706,1950
1,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,6.0,4.2,25.354615,13,13,13,683.615385,2550
2,1985,AM General,Post Office DJ5 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,4.0,2.5,20.600625,16,17,16,555.437500,2100
3,1985,AM General,Post Office DJ8 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,6.0,4.2,25.354615,13,13,13,683.615385,2550

In [89]:
filtered = data[(data['Make'] == 'Ford') & 
                (data['Cylinders'] >= 6) & 
                (data['Combined MPG'] < 18)]

filtered.head(4)

,Year,Make,Model,Vehicle Class,Transmission,Drivetrain,Fuel Type,Cylinders,Engine Displacement,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11442,1986,Ford,Aerostar Van,Vans,Automatic 4-spd,Rear-Wheel Drive,Regular,6.0,2.8,19.388824,15,21,17,522.764706,1950
11450,1988,Ford,Aerostar Van,Vans,Automatic 4-spd,Rear-Wheel Drive,Regular,6.0,3.0,19.388824,15,20,17,522.764706,1950
11452,1989,Ford,Aerostar Van,Vans,Automatic 4-spd,Rear-Wheel Drive,Regular,6.0,3.0,19.388824,15,21,17,522.764706,1950
11456,1990,Ford,Aerostar Van,Vans,Automatic 4-spd,Rear-Wheel Drive,Regular,6.0,4.0,19.388824,15,20,17,522.764706,1950

In [95]:
mpg_labels = ['Very Low', 'Low', 'Moderate', 'High', 'Very High']
bins = pd.cut(data['Combined MPG'], 5, labels = mpg_labels)
bins.head(10)

0         Low
1    Very Low
2    Very Low
3    Very Low
4    Very Low
5         Low
6         Low
7         Low
8         Low
9         Low
Name: Combined MPG, dtype: category
Categories (5, object): [Very Low < Low < Moderate < High < Very High]

In [91]:
data['Make'].unique()

array(['AM General', 'ASC Incorporated', 'Acura', 'Alfa Romeo',
       'American Motors Corporation', 'Aston Martin', 'Audi',
       'Aurora Cars Ltd', 'Autokraft Limited', 'BMW', 'BMW Alpina',
       'Bentley', 'Bertone', 'Bill Dovell Motor Car Company',
       'Bitter Gmbh and Co. Kg', 'Bugatti', 'Buick', 'CCC Engineering',
       'CX Automotive', 'Cadillac', 'Chevrolet', 'Chrysler',
       'Consulier Industries Inc', 'Dabryan Coach Builders Inc', 'Dacia',
       'Daewoo', 'Daihatsu', 'Dodge', 'E. P. Dutton, Inc.', 'Eagle',
       'Environmental Rsch and Devp Corp', 'Evans Automobiles',
       'Excalibur Autos', 'Federal Coach', 'Ferrari', 'Fiat', 'Fisker',
       'Ford', 'GMC', 'General Motors', 'Genesis', 'Geo', 'Goldacre',
       'Grumman Allied Industries', 'Grumman Olson', 'Honda', 'Hummer',
       'Hyundai', 'Import Foreign Auto Sales Inc',
       'Import Trade Services', 'Infiniti', 'Isis Imports Ltd', 'Isuzu',
       'J.K. Motors', 'JBA Motorcars, Inc.', 'Jaguar', 'Jeep', 'Kia',
       'Laforza Automobile Inc', 'Lambda Control Systems', 'Lamborghini',
       'Land Rover', 'Lexus', 'Lincoln', 'London Coach Co Inc',
       'London Taxi', 'Lotus', 'MINI', 'Mahindra', 'Maserati', 'Maybach',
       'Mazda', 'McLaren Automotive', 'Mcevoy Motors', 'Mercedes-Benz',
       'Mercury', 'Merkur', 'Mitsubishi', 'Mobility Ventures LLC',
       'Morgan', 'Nissan', 'Oldsmobile', 'PAS Inc - GMC', 'PAS, Inc',
       'Pagani', 'Panos', 'Panoz Auto-Development',
       'Panther Car Company Limited', 'Peugeot', 'Pininfarina',
       'Plymouth', 'Pontiac', 'Porsche', 'Quantum Technologies', 'Qvale',
       'Ram', 'Red Shift Ltd.', 'Renault', 'Rolls-Royce',
       'Roush Performance', 'Ruf Automobile Gmbh',
       'S and S Coach Company  E.p. Dutton', 'SRT', 'Saab', 'Saleen',
       'Saleen Performance', 'Saturn', 'Scion', 'Shelby', 'Spyker',
       'Sterling', 'Subaru', 'Superior Coaches Div E.p. Dutton', 'Suzuki',
       'TVR Engineering Ltd', 'Tecstar, LP', 'Texas Coach Company',
       'Toyota', 'VPG', 'Vector', 'Vixen Motor Company',
       'Volga Associated Automobile', 'Volkswagen', 'Volvo',
       'Wallace Environmental', 'Yugo', 'smart'], dtype=object)

In [92]:
data['Make'].nunique()

127

In [93]:
len(set(data['Make']))

127

In [98]:
pd.concat([bins, data['Combined MPG']], axis = 1).head(10)

   Combined MPG  Combined MPG
0           Low            17
1      Very Low            13
2      Very Low            16
3      Very Low            13
4      Very Low            16
5           Low            22
6           Low            24
7           Low            20
8           Low            22
9           Low            24

In [106]:
avg_mpg = data.groupby('Make', as_index = False).agg({'Combined MPG': 'mean'})
avg_mpg.columns = ['Make', 'Combined MPG']
avg_mpg.head(4)

               Make  Combined MPG
0        AM General     14.750000
1  ASC Incorporated     16.000000
2             Acura     21.506623
3        Alfa Romeo     19.512195

In [ ]:
data = pd.merge(data, avg_mpg, lefton = )

In [108]:
melted = pd.melt(data, id_vars = ['Year', 'Make', 'Model'],
                value_vars = ['City MPG', 'Highway MPG', 'Combined MPG'])
melted.head(100)

    Year              Make                Model  variable  value
0   1984        AM General    DJ Po Vehicle 2WD  City MPG     18
1   1984        AM General     FJ8c Post Office  City MPG     13
2   1985        AM General  Post Office DJ5 2WD  City MPG     16
3   1985        AM General  Post Office DJ8 2WD  City MPG     13
4   1987  ASC Incorporated                  GNX  City MPG     14
5   1997             Acura          2.2CL/3.0CL  City MPG     20
6   1997             Acura          2.2CL/3.0CL  City MPG     22
7   1997             Acura          2.2CL/3.0CL  City MPG     18
8   1998             Acura          2.3CL/3.0CL  City MPG     19
9   1998             Acura          2.3CL/3.0CL  City MPG     21
10  1998             Acura          2.3CL/3.0CL  City MPG     17
11  1999             Acura          2.3CL/3.0CL  City MPG     20
12  1999             Acura          2.3CL/3.0CL  City MPG     21
13  1999             Acura          2.3CL/3.0CL  City MPG     17
14  1995             Acura                2.5TL  City MPG     18
15  1996             Acura          2.5TL/3.2TL  City MPG     18
16  1996             Acura          2.5TL/3.2TL  City MPG     17
17  1997             Acura          2.5TL/3.2TL  City MPG     18
18  1997             Acura          2.5TL/3.2TL  City MPG     17
19  1998             Acura          2.5TL/3.2TL  City MPG     17
20  1998             Acura          2.5TL/3.2TL  City MPG     17
21  2001             Acura                3.2CL  City MPG     17
22  2002             Acura                3.2CL  City MPG     17
23  2003             Acura                3.2CL  City MPG     17
24  2003             Acura                3.2CL  City MPG     17
25  1999             Acura                3.2TL  City MPG     17
26  2000             Acura                3.2TL  City MPG     17
27  2001             Acura                3.2TL  City MPG     17
28  2002             Acura                3.2TL  City MPG     17
29  2003             Acura                3.2TL  City MPG     17
..   ...               ...                  ...       ...    ...
70  1995             Acura              Integra  City MPG     22
71  1995             Acura              Integra  City MPG     21
72  1995             Acura              Integra  City MPG     22
73  1996             Acura              Integra  City MPG     22
74  1996             Acura              Integra  City MPG     21
75  1996             Acura              Integra  City MPG     22
76  1997             Acura              Integra  City MPG     22
77  1997             Acura              Integra  City MPG     21
78  1997             Acura              Integra  City MPG     22
79  1998             Acura              Integra  City MPG     21
80  1998             Acura              Integra  City MPG     22
81  1998             Acura              Integra  City MPG     22
82  1999             Acura              Integra  City MPG     21
83  1999             Acura              Integra  City MPG     22
84  1999             Acura              Integra  City MPG     22
85  2000             Acura              Integra  City MPG     21
86  2000             Acura              Integra  City MPG     22
87  2000             Acura              Integra  City MPG     22
88  2001             Acura              Integra  City MPG     21
89  2001             Acura              Integra  City MPG     22
90  2001             Acura              Integra  City MPG     22
91  1986             Acura               Legend  City MPG     17
92  1986             Acura               Legend  City MPG     18
93  1987             Acura               Legend  City MPG     17
94  1987             Acura               Legend  City MPG     18
95  1987             Acura               Legend  City MPG     16
96  1987             Acura               Legend  City MPG     17
97  1988             Acura               Legend  City MPG     16
98  1988             Acura               Legend  City MPG     17
99  1989             Acura               Legend  City MPG     16

[100 rows x 5 columns]

In [110]:
drivetrain = pd.get_dummies(data['Drivetrain'])
drivetrain.head(4)

,2-Wheel Drive,"2-Wheel Drive, Front",4-Wheel Drive,4-Wheel or All-Wheel Drive,All-Wheel Drive,Front-Wheel Drive,Part-time 4-Wheel Drive,Rear-Wheel Drive
0,1,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1